<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.material.Material_consumeMapper">
    <update id="updateByPrimaryKeySelective" parameterType="com.erp.bean.material.Material_consume">
        update material_consume
        <set>
            <if test="workId != null">
                work_id = #{workId,jdbcType=VARCHAR},
            </if>
            <if test="materialId != null">
                material_id = #{materialId,jdbcType=VARCHAR},
            </if>
            <if test="consumeAmount != null">
                consume_amount = #{consumeAmount,jdbcType=INTEGER},
            </if>
            <if test="consumeDate != null">
                consume_date = #{consumeDate,jdbcType=TIMESTAMP},
            </if>
            <if test="sender != null">
                sender = #{sender,jdbcType=VARCHAR},
            </if>
            <if test="receiver != null">
                receiver = #{receiver,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                note = #{note,jdbcType=VARCHAR},
            </if>
        </set>
        where consume_id = #{consumeId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.erp.bean.material.Material_consume">
    update material_consume
    set work_id = #{workId,jdbcType=VARCHAR},
      material_id = #{materialId,jdbcType=VARCHAR},
      consume_amount = #{consumeAmount,jdbcType=INTEGER},
      consume_date = #{consumeDate,jdbcType=TIMESTAMP},
      sender = #{sender,jdbcType=VARCHAR},
      receiver = #{receiver,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where consume_id = #{consumeId,jdbcType=VARCHAR}
  </update>


    <!--获取material_consume表全体-->
    <select id="queryAllMaterialConsume" resultType="com.erp.bean.material.Material_consume">
    select consume_id as consumeId,work_id as workId,material_id as materialId,consume_amount as consumeAmount,
    consume_date as consumeDate,sender,receiver,note from material_consume
  </select>

    <!--根据ConsumeId对material_consume表模糊查询-->

    <select id="queryConsumeByConsumeId" resultType="com.erp.bean.material.Material_consume">
    select consume_id as consumeId,work_id as workId,material_id as materialId,consume_amount as consumeAmount,
    consume_date as consumeDate,sender,receiver,note from material_consume
    where consume_id like #{searchValue}
  </select>

    <!--根据WorkId对material_consume表模糊查询-->

    <select id="queryConsumeByWorkId" resultType="com.erp.bean.material.Material_consume">
    select consume_id as consumeId,work_id as workId,material_id as materialId,consume_amount as consumeAmount,
    consume_date as consumeDate,sender,receiver,note from material_consume
    where work_id like #{searchValue}
  </select>

    <!--根据MaterialId对material_consume表模糊查询-->

    <select id="queryConsumeByMaterialId" resultType="com.erp.bean.material.Material_consume">
    select consume_id as consumeId,work_id as workId,material_id as materialId,consume_amount as consumeAmount,
    consume_date as consumeDate,sender,receiver,note from material_consume
    where material_id like #{searchValue}
  </select>

    <select id="getConsumeByConsumeId" resultType="com.erp.bean.material.Material_consume">
        select consume_id as consumeId,work_id as workId,material_id as materialId,consume_amount as consumeAmount,
    consume_date as consumeDate,sender,receiver,note from material_consume
    where consume_id = #{consumeId}
    </select>

    <insert id="insertMaterialConsume">
        insert into material_consume(consume_id,work_id,material_id,consume_amount,consume_date,sender,receiver,note)values
        (#{consumeId},#{workId},#{materialId},#{consumeAmount},#{consumeDate},#{sender},#{receiver},#{note})
    </insert>

    <update id="update_note" parameterType="com.erp.bean.material.Material_consume">
    update material_consume set note = #{note} where consume_id = #{consumeId}
    </update>
    <delete id="delete_batch" parameterType="com.erp.bean.material.Material_consume">
        delete from material_consume where consume_id =#{ids}
    </delete>

    <select id="getMaterial_consume" resultType="com.erp.bean.material.Material_consume">
        select consume_id as consumeId,work_id as workId,material_id as materialId,consume_amount as consumeAmount,
    consume_date as consumeDate,sender,receiver,note from material_consume
    where consume_id = #{consumeId}
    </select>
</mapper>