<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.material.MaterialMapper">
    <update id="updateByPrimaryKeySelective" parameterType="com.erp.bean.material.Material">
        update material
        <set>
            <if test="materialType != null">
                material_type = #{materialType,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="remaining != null">
                remaining = #{remaining,jdbcType=INTEGER},
            </if>
            <if test="note != null">
                note = #{note,jdbcType=VARCHAR},
            </if>
        </set>
        where material_id = #{materialId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.erp.bean.material.Material">
    update material
    set material_type = #{materialType,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      remaining = #{remaining,jdbcType=INTEGER},
      note = #{note,jdbcType=VARCHAR}
    where material_id = #{materialId,jdbcType=VARCHAR}
  </update>

    <select id="queryAllMaterial" resultType="com.erp.bean.material.Material">
    select material_id as materialId,material_type as materialType,status,remaining,note from material
  </select>

    <select id="queryMaterialById" resultType="com.erp.bean.material.Material">
        select material_id as materialId,material_type as materialType,status,remaining,note from material
        where material_id = #{materialId}
    </select>

    <select id="getMaterialById" resultType="com.erp.bean.material.Material">
        select material_id as materialId,material_type as materialType,status,remaining,note from material
        where material_id like #{searchValue}
    </select>

    <select id="getMaterialByType" resultType="com.erp.bean.material.Material">
       select material_id as materialId,material_type as materialType,status,remaining,note from material
       where material_type like #{searchValue}
    </select>

</mapper>